.app-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 80px 0;
  overflow-y: scroll;
  background-color: #eff0ea;
}

.todo-box {
  position: relative;
  width: 450px;
  height: 700px;
  padding: 40px 30px;
  box-shadow: 0px 3px 7px 3px #d5d5d5;
  background-color: #ffffff;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5a5a5a;
}

.header-date {
  display: flex;
  align-items: center;
}

.date-day > p {
  font-size: 38px;
  font-weight: 600;
}

.date-box > p {
  font-size: 16px;
  font-weight: 300;
}

.date-box {
  margin-left: 8px;
}

.todo-list-container {
  margin-top: 50px;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.todo-list-item.completed {
  color: #d5d5d5;
}

.todo-list-item.completed .todo-complete-icon {
  color: #29c11f;
}

.todo-list-item:hover .todo-remove-icon {
  display: inline;
} 

.todo-complete-icon {
  font-size: 18px;
  color: #5a5a5a;
  transition: color 250ms;
}

.todo-complete-icon:hover {
  color: #29c11f;
}

.todo-remove-icon {
  display: none;
  font-size: 18px;
  color: red;
}

.todo-add-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 90px;
  width: 90px;
  border-radius: 100%;
  background-color: #91ec8b;
  box-shadow: 2px 4px 5px 1px #96d396;
  transition: background-color 300ms;
  transform: translateX(-50%) translateY(50%);
}

.todo-add-btn:hover {
  background-color: #bef4ba;
}

.todo-add-btn:hover i {
  color: #ffffff;
}

.todo-add-btn > i {
  color: #64bf54;
  font-size: 22px;
  transition: color 300ms;
}

.modal-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000078;
  animation-name: fade-in;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.modal-overlay.hidden {
  display: none;
}

.modal-container {
  position: relative;
  height: 300px;
  width: 500px;
  padding: 24px 30px;
  background-color: #ffffff; 
  box-shadow: 0px 3px 7px 3px #616161;
  animation-name: slide-in;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.modal-header {
  font-size: 24px;
  font-weight: 300;
}

/* .modal-container > h2 {
  font-size: 24px;
  font-weight: 300;
}

.modal-container h2 {
  font-size: 24px;
  font-weight: 300;
} */

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-close-btn > i {
  font-size: 16px;
  color: #5a5a5a;
}

.modal-close-btn:hover > i {
  color: #d5d5d5;
}

.modal-header ~ span {
  font-size: 9px;
}

.input-label {
  display: block;
  margin-top: 30px;
}

.input-label > p {
  margin-bottom: 3px;
  font-size: 12px;
  font-weight: 300;
}

.task-input {
  width: 100%;
  font-size: 18px;
  padding: 6px 12px;
  border: none;
  border-bottom: 1px solid #616161;
}

.task-input::placeholder {
  color: #d5d5d5;
  font-weight: 300;
}

.task-input:focus {
  outline: 0;
  border-color: #91ec8b;
}

.add-task-btn {
  height: 34px;
  width: 34px;
  border-radius: 100%;
  background-color: #91ec8b;
  color: #ffffff;
  box-shadow: 1px 2px 7px #8c8c8c;
  transition: all 250ms;
}

.add-task-btn:hover {
  filter: brightness(0.9);
}

.add-btn-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 14px;
}

.no-task-header {
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
  color: #8c8c8c;
  font-weight: 300;
}

@keyframes fade-in {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0.2;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}